<header>
    <!-- links to other pages -->
    <div class="nav-links">
        <ul>
            <li class="nav-links__item">
                <a class="nav-links__link" href="/">Home</a>
            </li>
            <li class="nav-links__item">
                <a class="nav-links__link" href="/stories">Stories</a>
            </li>
            <li class="nav-links__item">
                <a class="nav-links__link" href="/audio-only">Audio Only</a>
            </li>
            <li class="nav-links__item">
                <a class="nav-links__link" href="/about">Contact Us</a>
            </li>
            
        </ul>
        <hr>
        <h3 class="creators">Creators</h3>
        <ul class="creator-links">
            <% if (!creatorLoggedIn) { %>
            <li class="nav-links__item">
                <a class="nav-links__link" href="/auth/creator-login">Login</a>
            </li>
            <% } %>
            <% if (!creatorLoggedIn) { %>
            <li class="nav-links__item">
                <a class="nav-links__link" href="/auth/creator-signup">Signup</a>
            </li>
            <% } %>
            <% if (creatorLoggedIn) { %>
            <li class="nav-links__item">
                <a class="nav-links__link" href="/creator/dashboard">Dashboard</a>
            </li>
            <% } %>
            <% if (creatorLoggedIn) { %>
            <li class="nav-links__item">
                <form action="/auth/creator-logout" method="POST">
                    <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                    <button class="nav-links__btn" type="submit">Logout</button>
                </form>
            </li>
            <% } %>
        </ul>
    </div>
    <!--responsive navbar -->
    <nav class="navbar">
        <div class="logo">
            <h1><a href="/">Ha<span class="v">v</span>en</a></h1>
        </div>
        <div class="hamburger">
            <div class="hamburger__line"></div>
            <div class="hamburger__line"></div>
            <div class="hamburger__line"></div>
        </div>
    </nav>

</header>