<header>
    <div class="nav-links">
        <ul>
            <li class="nav-links__item">
                <a class="nav-links__link" href="/">Home</a>
            </li>
            <li class="nav-links__item">
                <a class="nav-links__link" href="/stories">Stories</a>
            </li>
            <li class="nav-links__item">
                <a class="nav-links__link" href="/about">About</a>
            </li>
        </ul>
    </div>
    <nav class="navbar">
        <div class="logo">
            <h1><a href="/">Erotica Marketplace</a></h1>
        </div>
        <div class="hamburger">
            <div class="hamburger__line"></div>
            <div class="hamburger__line"></div>
            <div class="hamburger__line"></div>
        </div>
    </nav>

</header>