<header>
    <div class="nav-links">
        <ul>
            <li class="nav-links__item">
                <a class="nav-links__link" href="/">Home</a>
            </li>
            <li class="nav-links__item">
                <a class="nav-links__link" href="/stories">Stories</a>
            </li>
            <li class="nav-links__item">
                <a class="nav-links__link" href="/about">About</a>
            </li>
            
        </ul>
        <hr>
        <h3 class="creators">Creators</h3>
        <ul>
            <li class="nav-links__item">
                <a class="nav-links__link" href="/auth/creator-login">Login</a>
            </li>
            <li class="nav-links__item">
                <form action="/auth/creator-logout" method="POST">
                    <button class="nav-links__link" type="submit">Logout</button>
                </form>
            </li>
            <li class="nav-links__item">
                <a class="nav-links__link" href="/auth/creator-signup">Signup</a>
            </li>
        </ul>
    </div>
    <nav class="navbar">
        <div class="logo">
            <h1><a href="/">Erotica Marketplace</a></h1>
        </div>
        <div class="hamburger">
            <div class="hamburger__line"></div>
            <div class="hamburger__line"></div>
            <div class="hamburger__line"></div>
        </div>
    </nav>

</header>