* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

:root {
	--primary-color: rgb(33, 70, 101);
	--secondary-color: rgb(244, 115, 145);
	--accent-color: rgb(145, 140, 110);
	--accent-color-dark: rgb(50, 48, 29);
	--accent-color-light: rgb(235, 232, 206);
	--font-header: 'Comfortaa', cursive;
	--font-text: 'Castoro', serif;
}

body {
	background-color: rgb(18, 39, 56);
	font-family: var(--font-text);
	color: var(--accent-color-light);
	display: flex;
	flex-direction: column;
}

main {
	padding: 1rem 1rem;
}

.main__header{
	text-align: center;
	margin: 1rem 0;
}

h1{
	font-family: var(--font-header);
	color: var(--accent-color-light);
}

a{
	color: white;
    text-decoration: none;    
}
