* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

:root {
	--primary-color: rgb(18, 39, 56);
	--secondary-color: rgb(216, 14, 61);
	--accent-color: rgb(145, 140, 110);
	--accent-color-dark: rgb(50, 48, 29);
	--accent-color-light: rgb(235, 232, 206);
	--font-header: 'Comfortaa', cursive;
	--font-text: 'Castoro', serif;
}

body {
	background: rgb(18, 39, 56);
	background: radial-gradient(circle, rgba(18, 39, 56, 1) 50%, rgba(216, 14, 61, 1) 100%);
	font-family: var(--font-text);
}

main {
	margin: 1rem 1rem;
}

h1{
	font-family: var(--font-header);
    color: var(--accent-color-light);
}

a{
    text-decoration: none;    
}
