<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/shop/index.css">
</head>

<body>
    <%- include('../includes/header.ejs') %>
    <main>
        <h1>Uh Oh! We couldn't get that page for you, Sorry!</h1>
        <h3>If you think this is an error on our part, contact us!</h3>
    </main>
    <%- include('../includes/foot.ejs') %>